*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 19, 19);
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 1px;
    background: rgb(51, 51, 212); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(51, 51, 212); 
}